* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header */
.header {
  background-color: #4a154b;
  padding: 18px 0;
}

.banner-text {
  color: #ffffff;
  font-size: 25px;
  margin: 0;
}
.banner-text i {
  color: #2e7d32;
  margin-right: 8px;
}
.header ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 22px;
}

.header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 550;
  transition: color 0.4s ease;
}

.header ul li a:hover {
  color: #2e7d32;
}
/*end header*/
/*hero section */
.hero-section {
  background-color: #f8f9fa;
  padding: 65px 0;
}
.hero-title {
  color: #4a154b;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.hero-text {
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 30px;
}
.hero-btn {
  display: inline-block;
  background-color: #2e7d32;
  text-decoration: none;
  padding: 12px 25px;
  color: #ffffff;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: bold;
}
.hero-btn:hover {
  background-color: #4a154b;
  color: #fff;
  transform: translateY(-4px);
}
.hero-img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}
.hero-img:hover {
  transform: scale(1.04);
}
/*end hero section */

/*courses section */
.courses-section {
  background-color: #ffe9e9;
  padding: 65px 0;
}
.courses-title {
  font-size: 2rem;
  font-weight: 600;
  color: #4a154b;
  margin-bottom: 22px;
}
.courses-top-text {
  font-size: 1.2rem;
  color: #4a4a4a;
  margin-bottom: 45px;
}
.courses-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 14px;
  padding: 28px 18px;
  height: 100%;
  transition: all 0.5s ease;
}
.courses-cards:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(77, 22, 78, 0.12);
}

.courses-cards-title {
  color: #4a154b;
  font-size: 1.5rem;
  font-weight: 650;
  margin-bottom: 14px;
}
.courses-cards-text {
  color: #4a4a4a;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 22px;
}
.courses-cards-btn {
  background-color: #2e7d32;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 550;
  padding: 12px 22px;
  text-decoration: none;
  border-radius: 8px;
  align-self: flex-start;
  transition: all 0.3s ease;
}
.courses-cards-btn:hover {
  background-color: #4a154b;
  color: #ffffff;
}
/* end courses section */
